text{
  font-size:25px;

}
.funy{
  width:550px;
  height:550px;
  z-index: -1;
}
.divTexte{

   overflow: scroll;
  overflow-x:hidden;
  height: 550px;
  width: 800px;
}
.texte{
  width:800px;
  height:1000px;

}
